<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated pseudocode -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="tdt4250.pseudocode.presentation.PseudocodeModelWizardID"
            name="%_UI_PseudocodeModelWizard_label"
            class="tdt4250.pseudocode.presentation.PseudocodeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PseudocodeModelFile.gif">
         <description>%_UI_PseudocodeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated pseudocode -->
      <editor
            id="tdt4250.pseudocode.presentation.PseudocodeEditorID"
            name="%_UI_PseudocodeEditor_label"
            icon="icons/full/obj16/PseudocodeModelFile.gif"
            extensions="pseudocode"
            class="tdt4250.pseudocode.presentation.PseudocodeEditor"
            contributorClass="tdt4250.pseudocode.presentation.PseudocodeActionBarContributor">
      </editor>
   </extension>

</plugin>
